name: Test reporeq

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    defaults:
      run:
        shell: bash
        working-directory: bin

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run shellcheck
        if: runner.os == 'Linux'
        run: shellcheck reporeq test_reporeq

      - name: Run tests
        run: ./test_reporeq
